<div>
  <br>
  <h4>Latest News</h4>
  <hr>
  <br>
  <div>
    <input id="search-box" placeholder="Search ..." [formControl]="searchFilter"/>
  </div>
  <br>
</div>

<!-- Form for to add the latest news. -->
<div>
  <button (click)="addEditDetail()">Add</button>
  <br><br>

  <fieldset *ngIf="viewAddEditForm"><br>
    <form [formGroup]="newsForm" (submit)="addNews(newsForm.value)">
      <br><br>

      News: <textarea rows="8" cols="150" type="text" formControlName="news"></textarea><br><br>

      <button type="submit">{{ existingData ? 'Update' : 'Add' }}</button>
      <button type="reset" (click)="goPrev()">Cancel</button>
    </form>
  </fieldset>
  <br><br>
</div>

<!-- Latest News getting Data-->
<div *ngIf="viewDataGrid">
  <table border="1">
    <tr>
      <th>News</th>
      <th>Date</th>
      <th>Update</th>
      <th>Delete</th>
      <th></th>
    </tr>

    <tr
      *ngFor="let newsitem of newsList | paginate: { itemsPerPage: pageItems, currentPage: p, totalItems: tPage }; let i = index">
      <td>{{newsitem.news}}</td>
      <td>{{newsitem.createDate | date:'M/dd/yyyy, H:mm a'}}</td>
      <td>
        <button (click)="addEditDetail(newsitem)">Edit</button>
      </td>
      <td>
        <button (click)="removeNews(newsitem._id)">Delete</button>
      </td>
      <td>
        <button (click)="enableDisableNews(newsitem)">{{newsitem.isEnable ? 'Enable' : 'Disable'}}</button>
      </td>
    </tr>
  </table>

  <app-pagination *ngIf="viewDataGrid" (pageChange)="p = $event; getNews()"
                  (numberChange)="onChange($event)"></app-pagination>
</div>
