<nav>
  <button routerLink="/home" routerLinkActive="active">User</button>
  <button routerLink="/subscription" routerLinkActive="active">Subscription</button>
  <button routerLink="/signal" routerLinkActive="active" disabled>Signals</button>
  <button routerLink="/trading" routerLinkActive="active">Trading Guide</button>
  <button routerLink="/coupon" routerLinkActive="active">Coupon Code</button>
  <button routerLink="/faq" routerLinkActive="active">FAQ</button>
</nav>
<app-progress-hud *ngIf="isLoading"></app-progress-hud>
