<div *ngIf="hidePeoplePage">

  <div>
    <h4>Coupon Code Management</h4>
    <hr>
    <br><br>
  </div>

  <!--Add Form-->
  <div>
    <button (click)="addEditCouponDetail(null)">Add</button>
    <br><br>

    <fieldset *ngIf="viewAddEditForm"><br>
      <form [formGroup]="couponForm" (submit)="addCoupon(couponForm.value)">
        <br><br>
        Campaign Name: <input type="text" placeholder="Campaign Name" formControlName="campaignName"><br>
        <!--<div *ngIf="phoneValidation(numberForm.controls['phone_number'])">{{phoneMessage}}</div>-->
        <br><br>

        Plan Type: <select formControlName="planType" (change)="onSelectPlanType($event.target.value)">
        <option value="" disabled>Select Plan Type</option>
        <option *ngFor="let plan of planTypeList" value={{plan.key}}>{{plan.name}}</option>
        <option value="4">Any</option>
      </select><br><br>

        Duration: <select formControlName="duration">
        <option value="" disabled>Duration</option>
        <option *ngFor="let dur of selectedDuration" value={{dur.duration}}>{{dur.durationType}}</option>
      </select><br><br>

        <input [matDatepicker]="myDatepicker"
               (dateChange)="validFromDateChange($event)"
               [min]="minDate" formControlName="validFrom" placeholder="From date">
        <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker><br><br>

        <input [matDatepicker]="picker" [min]="MinimumDate" formControlName="validTo" placeholder="To date">
        <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker><br><br>

        Discount: <input type="text"
                         placeholder="Discount(%)"
                         formControlName="discount"
                         (keydown)="checkMaxValue($event.target.value)"
                         (keyup)="checkMaxValue($event.target.value)">
        <!--<div *ngIf="phoneValidation(numberForm.controls['phone_number'])">{{phoneMessage}}</div>-->
        <br><br>
        <button type="submit">{{ existingData ? 'Update' : 'Add' }}</button>
        <button type="reset" (click)="goPrev()">Cancel</button>
      </form>
    </fieldset>
    <br><br>
  </div>


  <!--Coupon Page Data-->
  <div *ngIf="viewDataGrid">
    <table border="1">
      <tr>
        <th>Campaign Name</th>
        <th>Plan Type</th>
        <th>Duration</th>
        <th>Validity</th>
        <th>Discount</th>
        <th></th>
        <th>Delete</th>
        <th>Update</th>
      </tr>

      <tr
        *ngFor="let coupon of couponsList | paginate: { itemsPerPage: pageItems, currentPage: p, totalItems: tPage }; let i = index">
        <td>{{coupon.campaignName}}</td>
        <td>{{coupon.planName}}</td>
        <td>{{coupon.duration + ' ' + 'Days'}}</td>
        <td>{{(coupon.fromDateString | date: 'dd/MM/yyyy') + ' - ' + (coupon.toDateString | date: 'dd/MM/yyyy')}}</td>
        <td>{{(coupon.discount | number : '1.0-2') + ' % '}}</td>
        <td>
          <button (click)="addPeople(coupon._id)">Add People</button>
        </td>
        <td>
          <button (click)="removeCoupon(coupon._id, i)">Delete</button>
        </td>
        <td>
          <button (click)="addEditCouponDetail(coupon)">Edit</button>
        </td>
        <!--<td>-->
        <!--<button (click)="removeNumber(numberInfo.phone_id, i)">Delete</button>-->
        <!--</td>-->
      </tr>
    </table>

    <app-pagination *ngIf="viewDataGrid" (pageChange)="p = $event;getCoupon()"
                    (numberChange)="onChange($event)"></app-pagination>
  </div>

</div>

<div *ngIf="viewPeoplePage">
  <br>
  <div>
    <h3>People</h3>
    <hr>
  </div>

  <br>
  <table border="1">
    <tr>
      <th>Email</th>
      <th>Coupon Code</th>
      <th>Discount</th>
    </tr>

    <tr
      *ngFor="let people of peopleList | paginate: { itemsPerPage: pageItems, currentPage: p, totalItems: tPage }; let i = index">
      <td>{{people.email}}</td>
      <td>{{people.coupan}}</td>
      <td>{{(people.discount | number : '1.0-2') + ' % '}}</td>
    </tr>
  </table>

  <app-pagination (numberChange)="onPeopleNumber($event)"></app-pagination>
  <br>
  <button (click)="goBack()">Back</button>

</div>
